<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Stock Data Visualizer {% endblock %}</title>

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="../static/custom-styles.css">
</head>
<body>
    <div class="foreground">
        <div class="form_content">
            <!-- display content -->
            {% block form_content %} {% endblock %}

            <!-- display  any flash messages when a page is loaded -->
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}

            <!-- display chart -->
             {% block chart %} {% endblock %}
        </div>
    </div>

    <!-- custom script -->
    <script src="../static/index.js"></script>
</body>
</html>